<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Chat App || CMDA 1819 Stan Ooms</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Raleway" rel="stylesheet">
    <!-- ADD FOR GULP MINIFICATION-->
    <link rel="stylesheet" href="/dist/css/styles.css">
<!--///////////////////////-->
    <!--ADD for development-->
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" type="" href="/css/styleChat.css">
    <link rel="stylesheet" type="" href="/css/styles.css">
    <link rel="stylesheet" type="" href="/css/keyframes.css">
    <link rel="stylesheet" type="" href="/css/media.css">
<!--////////////////////////////-->



</head>