<body>

<nav>

<div src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/11/cmd_daantjebons_0004.jpg">
</div>
</nav>


<section class="mya">
    <button>
        <a href="/battery">Enter the battery</a>
    </button>
    <%- apiData%>
</section>