<div id="bg"> 
    <img src="/assets/bg.jpg" alt="Background Image" id="bg-index">
    
</div>


<div id="header">
    <div id="titleSection">
        <h1>Ch@t-App</h1>
    </div>


<div id="subTitleSection">

    <h4>A very unique chat application</h4>

</div>


<div class='g-sign-in-button'>
    <a href="/google">
        <div class=content-wrapper>
            <div class='logo-wrapper'>  
                <img src='https://developers.google.com/identity/images/g-logo.png'>
            </div>  
            <span class='text-container'> 
                <span>Sign in with Google</span>
            </span>
        </div>  
    </a>
</div>
</div>