<body>

<button><a href="/">Exit the battery</a></button>
<nav>

  <div src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/11/cmd_daantjebons_0004.jpg">
  </div>
</nav>

<section class="mya"><%- apiData%></section>