
<section>
    <h1>Entered ProfilePart</h1>
    <h2>Welcome To the chat </h2><h1 id="thisUsername"><%= user.username %></h1>
    <img src="<%= user.thumbnail %>" alt="Profile picture">
    <h3>You can start chatting right away!</h3>
    <button type=""><a href="/logout">Logout</a></button>
</section>

<section>
    <ul id="messages"></ul>
    <div id="alert"></div>
    <div id="alert2"></div>
</section>

<section>
    <form action="" id="form">
        <input id="m" autocomplete="off" />
        <input type="submit" name="" value="SEND"/>
    </form>
</section>`

<% console.log(user.username + ' in DOM')%>