
<header
    <h2>Welcome To the chat</h2> 
    <button type=""><a href="/logout">Logout</a></button>
    <img id="profile_picture" src="<%= user.thumbnail %>" alt="Profile picture">
    <h1 id="thisUsername"><%= user.username %></h1>
</header>
    
<section>
    <div id="alert"></div>
    <div id="alert2"></div>
</section>

<section>
    <div id="dataTable"></div>
  
</section>`

<% console.log(user.username + ' in DOM')%>