<!DOCTYPE html>
<html lang="en">

<%- include ../partials/head %>

<body>
<%- include ../partials/nav %>

<%- include ../partials/profilePart %>

<%- include ../partials/footer.ejs %>

</body>
</html>